.banner-wrap.section(data-anchor="block5")
  .container
    .banner
      h3 Более 40 популярных интернет магазинов Китая и США, свыше 100 000 000 товаров
      .slider-first
        .slider
          .slider-box
            a(href="#")
              img(src="uploads/logo/logo-tmall.png", width="92", height="67" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/logo-taobao.png", width="134", height="54" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/logo-ali.png", width="138", height="42" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/log-alibaba.png", width="122", height="52" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/logo-1688.png", width="137", height="55" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/logo-128.png", width="99", height="29" alt="logo")
      .slider-second
        .slider
          .slider-box
            a(href="#")
              img(src="uploads/logo/slider-2/logo-nyx.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-ecco.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-remax.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-loreal.png", width="119", height="49" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/slider-2/logo-apple.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-unit.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-modis.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-mango.png", width="119", height="49" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/slider-2/logo-LG.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-puma.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-pampers.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-lego.png", width="119", height="49" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/slider-2/logo-rebook.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-adidas.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-bosh.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-asics.png", width="119", height="49" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/slider-2/logo-odji.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-geox.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-maybe.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-lacoste.png", width="119", height="49" alt="logo")
          .slider-box
            a(href="#")
              img(src="uploads/logo/slider-2/logo-samsung.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-sharw.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-garnier.png", width="119", height="49" alt="logo")
            a(href="#")
              img(src="uploads/logo/slider-2/logo-tom.png", width="119", height="49" alt="logo")
.banner-delivery.section(data-anchor="block6")
  .bxslider
    .slider-banner
      .banner-img__wrap
        .banner-img
          img(src="images/bg-banner-1.png",width="1500", height="502" alt="Banner") 
      .delivery
        .container
          .delivery__content
            h3.benefit__main Покупка с ooba просто!
            span.delivery__content--text Сейчас
            span.delivery__content--text2 Вы регистрируетесь на сайте и оформляете заказ     
    .slider-banner
      .banner-img__wrap
        .banner-img
          img(src="images/bg-banner-2.png",width="1500", height="502" alt="Banner")
      .delivery
        .container
          .delivery__content
            h3.benefit__main Покупка с ooba просто!
            span.delivery__content--text В течении 2х часов
            span.delivery__content--text2 Мы обрабатываем Ваш заказ, и Вы оплачиваете стоимость товаров
    .slider-banner
      .banner-img__wrap
        .banner-img
          img(src="images/bg-banner-3.png",width="1500", height="502" alt="Banner")
      .delivery
        .container
          .delivery__content
            h3.benefit__main Покупка с ooba просто!
            span.delivery__content--text Через 3-4 дня
            span.delivery__content--text2 Получаем товар на наш склад и проверяем его на соответствие
    .slider-banner
      .banner-img__wrap
        .banner-img
          img(src="images/bg-banner-4.png",width="1500", height="502" alt="Banner")
      .delivery
        .container
          .delivery__content
            h3.benefit__main Покупка с ooba просто!
            span.delivery__content--text В течении дня 
            span.delivery__content--text2 Мы упаковываем товар и отправляем в Бишкек 
    .slider-banner
      .banner-img__wrap
        .banner-img
          img(src="images/bg-banner-5.png",width="1500", height="502" alt="Banner")
      .delivery
        .container
          .delivery__content
            h3.benefit__main Покупка с ooba просто!
            span.delivery__content--text Через 5-7 дней
            span.delivery__content--text2 Вы получаете посылку у дома либо у нас в офисе
  .delivery__link
    .delivery__link--item.bx-pager-link
      a(href="#").bx-pager-link
        img(src="images/hospitals-computer.svg", width="40", height="40", alt="iCon")
      span Сейчас
    .delivery__link--item2.bx-pager-link
      a(href="#").bx-pager-link
        img(src="images/woman-with-headset.svg", width="40", height="40", alt="iCon")
      span В течение 2х часов
    .delivery__link--item3.bx-pager-link
      a(href="#").bx-pager-link
        img(src="images/delivery-packaging-box.svg", width="40", height="40", alt="iCon")
      span Через 3-4 дня
    .delivery__link--item4.bx-pager-link
      a(href="#").bx-pager-link 
        img(src="images/logistics-delivery-truck-in-movement.svg", width="40", height="40", alt="iCon")
      span В течении дня
    .delivery__link--item5.bx-pager-link
      a(href="#").bx-pager-link
        img(src="images/commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package.svg", width="40", height="40", alt="iCon")
      span Через 5-7 дней

.rates-wrap.section(data-anchor="block7")
  .container
    .rates
      .rates__box1
        h2 100 сом*
        h2 200 сом*
      .rates__box2
        h2.rates__box2--main Низкие тарифы за доставку 
        p.rates__box2--text Любой владелец интернет-магазина скажет вам, что самое сложное — найти дешевый способ и организовать доставку. На помощь приходит ooba
        span.rates__box2--text-small *Цена указана за 0.5 кг
        .rates-btn
          a(href="#") Перейти к покупкам
    