.header
  .container
    .header-container
      .logo
        a(href="")
          img(src="uploads/logo.png", width="102", height="51", alt="Logo")
      .menu
        .menu__icon
          i(class="fa fa-bars", aria-hidden="true")
        .menu__nav#menu
          a(data-menuanchor="block1",href="#block1") О нас
          a(data-menuanchor="block2",href="#block2") Шоппинг
          a(data-menuanchor="block3",href="#block3") Преимущество
          a(data-menuanchor="block4",href="#block4") Отзывы
          a(data-menuanchor="block5",href="#block5") Магазины        
          a(data-menuanchor="block6",href="#block6") Как мы работаем
          a(data-menuanchor="block7",href="#block7") Тарифы
          a(data-menuanchor="block8",href="#block9") Контакты