.info-wrap.section(data-anchor="block1")
  .info
   .container
    .info-content
      .info-content__text
        h2.info-main Мы выкупаем и доставляем товары из интернет-магазинов Китая и США
        h3.info-text Мы предоставляем Вам уникальную возможность совершать покупки на самых популярных интернет-магазинах Китая и США по самым выгодным условиям
      .info-content__video
        .video
          .video__img
            .video__img--tg
              i( class="fa fa-play", aria-hidden="true")
              span узнай больше за 60 секунд
            .video__img--btn
              a(href="#", id="popup-open") посмотреть видео
  .popup-wrap
    .popup
      a(href="#", id="popup-closed", class="popup-closed") &#11199
      video(controls="controls",autoplay="autoplay", loop="loop", tabindex="0")
        source(src="swedish-flag.mp4",type="video/webm; codecs=&quot;vp8, vorbis&quot;")
        source(src="swedish-flag.ogv", type="video/ogg; codecs=&amp;quot;theora, vorbis&amp;quot;")
        p Извините, но ваш браузер не поддерживает элемент video