.benefit-wrap.section(data-anchor="block2")
  .container
    .benefit
      h3.benefit__main Покупать товары в интернете выгодно!
      ul.benefit__list
        li.benefit__list--item1 Экономия денежных средств до 70%   
        li.benefit__list--item2 Огромный ассортимент товаров
        li.benefit__list--item3 Возможность покупки экслюзивных товаров
      p.benefit__text Миллионы людей уже покупают товары через интернет и выгодно экономят 
        span Начни экономить и ты!
.conditions-wrap.section(data-anchor="block3")
  h2.benefit__main Мы предлагаем самые выгодные условия
  .container
    .conditions
      .conditions__item
        h3.conditions__item--main1 0%
        span 0% комиссии
      .conditions__item
        h3.conditions__item--main2 7
          span дней
        span доставка за 7 дней
      .conditions__item
        h3.conditions__item--main3 10 000 &#13217
        span 10 000 &#13217 склада
.clients-wrap.section(data-anchor="block4")
  .container
    .clients
      h2.benefit__main Доверь свои покупки профессионалам
      .clients__text
        .clients__text--info
          span 5 000 
          span пользователей уже сделали  
          span более 20 000 покупок!
        h3.clients__text--info2 Присоединяйтесь и ВЫ!
        .clients__text--btn
          a(href="#") Перейти к покупкам
      .clients__slider
        .clients__slider--text
          blockquote#quote
            i.quote_body
          button#quote_btn_next 
            i(class="fa fa-chevron-right", aria-hidden="true")
          button#quote_btn_prev 
            i(class="fa fa-chevron-left" aria-hidden="true")